.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 45px;
}

.wrap {
  width: 940px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 940px;
  margin-bottom: 120px;
}

.logo {
  font-family: "Dancing Script";
  text-decoration: none;
  font-size: 30px;
  color: #fed136;
  text-align: left;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 51.064%;
}

.item-menu a {
  font-size: 14px;
  font-family: "Montserrat";
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.item-menu a:hover {
  color: #fed136;
}

.main {
  display: flex;
  width: 940px;
  align-items: center;
  margin-bottom: 118px;
}

.section {
  width: 100%;
}

.section h2 {
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.section span {
  display: block;
  font-size: 16px;
  font-family: "Lato";
  color: rgb(119, 119, 119);
  font-style: italic;
  text-align: center;
  margin-bottom: 75px;
}
.section-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-menu-item {
  width: 30.85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-menu-item h4 {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: 700;
  margin-bottom: 18px;
}

.section-menu-item p {
  font-size: 14px;
  font-family: "RobotoSlab";
  color: rgb(119, 119, 119);
  line-height: 1.2;
  text-align: center;
  text-indent: 20px;
}

.icon-wrap {
  display: flex;
  width: 70px;
  height: 70px;
  border: solid 4px #fed136;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h2,
h3,
h4 {
  text-align: center;
}

.footer-wrap {
  display: flex;
  width: 1400px;
  justify-content: center;
  background-color: #222222;
  background-image: url(../images/map1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer {
  display: flex;
  width: 940px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer__contacts {
  padding-top: 30px;
  padding-bottom: 40px;
}
.footer__contacts-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.footer__contacts-wrap {
  display: flex;
  justify-content: center;
}
.footer__contacts-tel {
  display: block;
  margin-right: 30px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.footer__contacts-tel:last-child{
  margin-right: 0;
}
.footer h2 {
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 110px;
  margin-bottom: 24px;
}

.footer h4 {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: rgb(119, 119, 119);
  font-style: italic;
  text-align: center;
  margin-bottom: 75px;
}

input,
textarea {
  box-sizing: border-box;
  border: solid 1px #7d7d7d;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
}

input[name="name"] {
  width: 455px;
  height: 52px;
  margin-bottom: 27px;
}

input[name="subject"] {
  width: 455px;
  height: 52px;
}

input[type="email"] {
  width: 455px;
  height: 52px;
  margin-bottom: 27px;
}

input:required:valid {
  outline: 1px solid rgb(0, 255, 0);
}

input:required:invalid:active {
  outline: 1px solid rgb(255, 0, 0);
}

textarea {
  display: block;
  float: right;
  width: 455px;
  height: 212px;
  box-sizing: border-box;
  padding-top: 18px;
}

textarea:required:valid {
  outline: 1px solid rgb(0, 255, 0);
}

textarea:required:invalid:active {
  outline: 1px solid rgb(255, 0, 0);
}

input[type="submit"] {
  width: 240px;
  height: 65px;
  border: 0;
  background-color: #fed136;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #fed176;
  color: rgb(236, 255, 150);
}

form {
  display: flex;
  width: 940px;
  height: 305px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 114px;
}

.area {
  display: block;
  width: 940px;
  height: 212px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.input {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
  width: 455px;
  height: 212px;
}
